In [1]:
import json
import numpy as np
import os
import pandas as pd
import urllib2

In [29]:
coins = ['BTC', 'LTC', 'ETH', 'XMR']
df_list=[]
for coin in coins:
    url = 'https://poloniex.com/public?command=returnChartData&currencyPair=USDT_'+coin+'&start=1439014500&end=9999999999&period=300'
    openUrl = urllib2.urlopen(url)
    r = openUrl.read()
    openUrl.close()
    d = json.loads(r.decode())
    print pd.DataFrame(d).shape

(253208, 8)
(253208, 8)
(253208, 8)
(253208, 8)

In [15]:
url = 'https://poloniex.com/public?command=returnChartData&currencyPair=USDT_ETH&start=1356998100&end=9999999999&period=300'
openUrl = urllib2.urlopen(url)
r = openUrl.read()
openUrl.close()
d = json.loads(r.decode())

In [16]:
df = pd.DataFrame(d)
original_columns=[u'close', u'date', u'high', u'low', u'open']
new_columns = ['Close','Timestamp','High','Low','Open']
df = df.loc[:,original_columns]
df.columns = new_columns
df.head()

   Close   Timestamp  High   Low  Open
0   1.75  1439014500  0.33  1.61  0.33
1   1.85  1439014800  1.85  1.85  1.85
2   1.85  1439015100  1.85  1.85  1.85
3   1.85  1439015400  1.85  1.85  1.85
4   1.85  1439015700  1.85  1.85  1.85

In [17]:
import h5py
with h5py.File(''.join(['data/bitcoin2015to2017_wf.h5']), 'r') as hf:
    datas = hf['inputs'].value
    labels = hf['outputs'].value
    input_times = hf['input_times'].value
    output_times = hf['output_times'].value
    original_inputs = hf['original_inputs'].value
    original_outputs = hf['original_outputs'].value
    original_datas = hf['original_datas'].value

In [ ]:
original_inputs[0].shape

In [55]:
df.to_csv('data/bitcoin2015to2017.csv',index=None)